<h1 style="text-align: center; color: blueviolet;">Event Binding (One-Way Data Binding) </h1>
<h1 style="text-align: center; color: blueviolet;">Symbol:-() </h1>
<br><br><br><br>


<input type="text" [value]="UserName" [disabled]="isDisabled">

<button (click)="ClickMe()">Click</button>

<br><br>

<button style="background-color: royalblue;" (click)="ClickMe1()"><span style="color: white;">Click Count</span></button>

<button style="background-color: brown;" (click)="ClickMe1()"><span style="color: white;">{{ClickCount}}</span></button>