<h1 style="color: blueviolet;">INTERPOLATION (ONE-WAY DATA BINDING)</h1>
<!-- <h1 style="text-align: center; color: blueviolet;">Symbol:-{{}} </h1> -->
<br><br><br><br>

<h4 style="color: blue;"><b>Name:-</b>{{Name}}</h4>
<h4 style="color: blue;"><b>UserName:-</b>{{UserName}}</h4>
<h4 style="color: blue;"><b>Marks:-</b>{{Marks}}</h4>
<h4 style="color: blue;"><b>Subject:</b>-{{Subject}}</h4>

<br><br>

<h3 style="text-align: center; color: red;"><b>My name is <span style="color: black;">{{Name}}</span> and my UserName is
        <span style="color: black;">{{UserName}}</span> .
        I got <span style="color: black;">{{Marks}}</span> Marks in <span style="color: black;">{{Subject}}</span>
        Subject.</b></h3>