<h1 style="text-align: center;color: blueviolet;">Attribute Directives</h1>
<h1 style="text-align: center;color: blueviolet;">[ngStyle]</h1>
<br><br><br><br>


<h1 [ngStyle]="{'color':'red'}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatum ex exercitationem alias! Eligendi
    temporibus quae vitae debitis, pariatur tenetur reiciendis animi aliquid perferendis sed, officiis ipsa voluptatibus
    necessitatibus blanditiis autem numquam fuga facere molestias a. Voluptas, a vel perferendis alias consequatur
    fugiat quaerat dignissimos fuga esse excepturi enim? Totam!</h1>