

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="display-6 text-center">
                <b>Want to chat now or get a call from us?</b>
            </p>
        </div>
        <div class="col-2"></div>
    </div>

    <section class="container-fluid mb-2" id="foot">
        <div class="row">
            <div class="col-6" id="col" style="margin-left: 120px;">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">

                        <h4 class="mt-3">Chat right now</h4>
                        <p> Our messaging assistant can quickly solve many issues or direct you to the right person or
                            place.<br><br>
                            <b class="text-secondary">Email Us are always available.</b>
                        </p>
                        <a href="mailto:ravisachin36@gmail.com"><button class="btn btn-outline-light text-dark px-5"
                                id="btn">Email Us</button></a>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

            <div class="col-6" id="col" style="margin-left: 50px;">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h4 class="mt-5">Have us call you</h4>
                        <p>We'll first get a few details about your issue and then someone will call you right away.</p>

                        <a href="tel:9570321342"><button class="btn btn-outline-light text-dark px-5" id="btn">Call
                                me</button></a>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>

    </section>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="display-6 text-center">
                    <b>Here are a few things you can take care of on your own</b>
                </p>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row mt-5">
            <div class="col-3">
                <img src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Box_smaller._CB485927904_.png"
                    alt="Order" height="100px" width="100px" class="ms-3">
                    <p class="mt-2"><a href="https://www.amazon.in/gp/css/order-history?ref_=cu_csp_ss_qs_v2_l1_t1" style="text-decoration: none;">Check on an order</a></p> 
            </div>

            <div class="col-3">
                <img src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Devices_clear-bg._CB485925769_.png"
                    alt="Devices" height="100px" width="100px" class="ms-5">
                    <p class="mt-2"><a href="SignIn" style="text-decoration: none;">Manage Content & devices</a></p>
            </div>

            <div class="col-3">
                <img src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Prime_clear-bg._CB485925770_.png"
                    alt="Prime" height="100px" width="100px" class="ms-3">
                    <p class="mt-2"><a href="SignIn" style="text-decoration: none;">Get help with Prime</a></p>
            </div>

            <div class="col-3">
                <img src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Payments_clear-bg._CB485948344_.png"
                    alt="Card" height="100px" width="100px" class="ms-3">
                    <p class="mt-2"><a href="SignIn" style="text-decoration: none;">Update payment info</a></p>
            </div>
        </div>


    </div>
</div>


<app-footer></app-footer>