<div class="container mt-2">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title mt-4 text-center">Up to 70% off | Clearance Store</h5>
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Electronics/Clearance/Clearance_store_Desktop_CC_1x._SY304_CB628315133_.jpg"
                height="328px" class="card-img-top responsive mt-4" alt="...">
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title mt-4 text-center">Big Saving for Everyone</h5>
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/GW/MayART22/T1/Desktop_Gateway_CC_758x608_En1x._SY304_CB621830421_.jpg"
                height="328px"  class="card-img-top responsive mt-4" alt="...">
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title mt-4 text-center">Try Prime,Free for 30 days</h5>
                <img src="https://m.media-amazon.com/images/G/31/prime/NavFlyout/TryPrime/2018/Apr/IN-Prime-PIN-TryPrime-MultiBen-Apr18-400x400._CB442254244_.jpg"
                height="328px"  class="card-img-top responsive mt-4" alt="...">
            </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title mt-4 text-center">Sign in for your best experience</h5>
               <a href="#"><button class="btn btn-warning px-5 mt-3 mb-3" id="b1">Sign In Securely</button></a> 
            </div>

            <div class="card ms-3 mt-4" id="card" style="width: 16rem;">
                <img src="https://m.media-amazon.com/images/G/31/img19/AMS/Houseads/Laptops-Sept2019._CB436595915_.jpg"
                height="232px"  class="card-img-top responsive" alt="...">
            </div>
        </div>
    </div>
</div>