

<div class="container ">
    <div class="row">
        <div class="col-6 mt-5">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/GW/MayART22/T2/Desktop_Gateway_CC_758x6081x_eng._SY304_CB622769446_.jpg"
                alt=" Summer Sale" width="635px" height="350px">
            <!-- class="img-fluid" -->
        </div>
        <div class="col-6 mt-5" id="col">
            <img src="https://m.media-amazon.com/images/G/31/marketing/prime/detail_page/Prime_Logo._CB485923298_.png"
                alt="Amazon Prime Pic" class="m-4" height="40px" width="200px">

            <h2 class="text-white">Unlimited FREE fast delivery, videos, music, gaming & more</h2>
            <h6 class="text-white mt-1">Prime members enjoy unlimited free, fast delivery on eligible items, video
                streaming, ad-free music, free
                in-game content, exclusive access to deals & more.</h6>

            <a href="#"><button class="btn btn-warning mt-2 px-5">Login to join Prime</button></a>

            <p class="text-white mt-3">By signing up for a Prime membership, you agree to the <span><a
                        class="text-white" style="text-decoration: underline;"
                        href="https://www.amazon.in/gp/help/customer/display.html?nodeId=202042460&ms3_c=786ca0a460b0b113053b02dc11657eac">Amazon
                        Prime Terms and Conditions.</a></span></p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/G/31/prime/detail_page/Prime_Detail_Page_PC_Benefits_Delivery_1344x526._CB653891553_.jpg"
                alt="" height="300px" width="600px">
        </div>

        <div class="col-6">
            <h2>Unlimited FREE fast delivery</h2>
            <p style="font-size: 17px;"><b>Guaranteed free One-Day, Two-Day and Standard Delivery on eligible
                    items</b><br>
                Why pay Rs.100 for One-Day Delivery every time you need an item quickly? As a Prime member, get
                unlimited
                FREE One-Day and Two-Day Delivery on eligible items from India’s largest online store, to over a hundred
                cities. Prime items that are not eligible for free One-Day or Two-Day Delivery to your location, will
                always
                qualify for free Standard Delivery with no minimum purchase value. The fastest, free Prime delivery
                speed
                available for an item will be shown on the product page.

                Prime members also enjoy discounted Same-Day and Morning Delivery to pin-codes in select cities across
                India. Get exclusive 2-hour Express Delivery to eligible pin-codes in <b>Delhi, Mumbai, Bangalore &
                    Hyderabad</b>
                via the Prime Now App.</p>

            <a href="https://www.amazon.in/b/ref=in-pr-pc-signup-delivery-lnk?node=12627912031">Learn more about all
                Prime delivery options</a>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/G/31/prime/detail_page/Prime_Detail_Page_PC_VideoLaunch_1344x526._CB623227812_.jpg"
                alt="" height="300px" width="600px">
        </div>

        <div class="col-6">
            <h2>Prime Video</h2>
            <p style="font-size: 17px;"><b>Watch the latest and exclusive movies & TV shows</b><br>
                With your Prime membership, you have access to the latest and exclusive Bollywood and regional
                blockbusters such as Raazi and Goodachari, and Hollywood movies like Jumanji: Welcome to the Jungle. You
                can also get stuck into US TV shows like Young Sheldon, and exclusive access to Prime Original Series
                Comicstaan, Breathe and Inside Edge. <br><br>

                Access Prime Video anywhere: on the go or in the comfort of your living room. Watch on your Android or
                iOS phone, tablet, laptop, desktop, or smart TV.</p>

            <a href="https://www.primevideo.com/">
                Visit primevideo.com</a>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/G/31/marketing/prime/pdp/Robin_Benefit2._CB623228312_.jpg"
                alt="" height="300px" width="600px">
        </div>

        <div class="col-6">
            <h2>Prime Music</h2>
            <p style="font-size: 17px;"><b>All your favorite music – ad-free and with unlimited offline
                    downloads*</b><br>
                With your Prime membership, enjoy ad-free music streaming with unlimited offline downloads* across 75
                million songs in multiple languages - English, Hindi, Tamil, Punjabi, Telugu, Bengali and more. Enjoy
                Playlists and Stations specially curated by Amazon’s music editors across moods, activities, genres,
                artists and decades. <br><br>

                Discover a new way to find and play music - voice controlled with Alexa. Simply tap on Alexa icon in
                your mobile app and ask for music. No typing, no browsing, no searching - Just ask! Listen to music
                across devices – Android & iOS devices, Desktop app and Web Player, Amazon Fire TV sticks and Amazon
                Echo and other Alexa enabled devices. <br><br>

                *Subject to devices storage

            </p>

            <a href="https://www.amazon.in/music/prime">
                Listen Now</a>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/G/31/marketing/prime/pdp/Samus_Benefit_Desktop._CB642411917_.jpg"
                alt="" height="250px" width="600px">
        </div>

        <div class="col-6">
            <h2>Gaming with Prime</h2>
            <p style="font-size: 17px;"><b>FREE in-game content on popular mobile games, refreshed frequently.</b><br>

                Prime members get access to FREE in-game content like power-ups, exclusive collectibles, characters,
                outfits, skins, themes, in-game currency and more across popular mobile games, refreshed frequently.
                Login with your Amazon account within supported games to claim in-game content. Enjoy frequent new
                content drops and launches across top international & Indian mobile games.
            </p>

            <a href="https://www.amazon.in/b?node=21345254031">
                Explore gaming with Prime</a>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/G/31/Pay/CBCC/BOX._CB433739796_.png" alt="" height="300px"
                width="600px">
        </div>

        <div class="col-6">
            <h2>Gaming with Prime</h2>
            <p style="font-size: 17px;"><b>Unlimited 5% reward points</b><br>


                Earn more with the Amazon Pay ICICI Bank credit card
                Eligible Prime members earn unlimited 5% reward points on all purchases on Amazon.in using the Amazon
                Pay ICICI Bank credit card. Enjoy always-on No Cost EMI and pay at your convenience with zero processing
                fees, zero down payment and zero effective interest. You can also earn unlimited 2% reward points on
                payments at 100+ Amazon Pay partner merchants and 1% reward points on all other payments (except fuel
                purchases). Currently available in 35 cities across India.


            </p>

            <a href="#SingnIn">
                Know More</a>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-6">
            <img src="https://m.media-amazon.com/images/G/31/prime/detail_page/Prime_Detail_Page_PC_Check_prime_1344x526._CB485969112_.jpg"
                alt="" height="300px" width="630px">
        </div>

        <div class="col-6">
            <h2>Look for the Prime <img
                    src="https://m.media-amazon.com/images/G/31/marketing/prime/detail_page/checkPrime._CB483586779_.png"
                    alt="" height="29px" width="100px"></h2>
            <p style="font-size: 20px;">

                Items eligible for Prime delivery benefits (free One-Day, Two-Day and Standard Delivery) are clearly
                marked. Just look for <img
                src="https://m.media-amazon.com/images/G/31/marketing/prime/detail_page/checkPrime._CB483586779_.png"
                alt="" height="11px" width="40px"> next to products when you search. Choose the Prime logo filter to view Prime items
                only. <br><br>

                As a Prime member, you can update your delivery pin-code on product pages to see the fastest, free
                delivery option next to the Prime logo. You can see all Prime delivery options available for your order
                at Checkout. <br><br>


                Prime offers a safe and convenient shopping experience on <img
                src=" https://m.media-amazon.com/images/G/31/search/fba._CB485936067_.png"
                alt="" height="18px" width="66px"> items and items fulfilled by qualified sellers
                who meet our high delivery performance standards.
               
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>