

<div class="container mt-5">
    <p class="display-1 text-danger">Men's Clothing</p>
    <div class="row">
        <div class="col-4 mt-5" *ngFor="let MensC of MensClothing">
            <div class="card" style="width: 25rem; height: 60rem;">
                <img [src]="MensC.image" class="card-img-top"  height="500px" width="500px" alt="...">
                <div class="card-body">
                  <h5 class="card-title mt-5">{{MensC.title}}</h5>
                  <p class="card-text mt-4">{{MensC.description}} <br><br>
                    <span class="text-dark"><b>Price:-</b> </span>{{MensC.price  |   currency:'Rs'}} <br><br>
                    <span class="text-dark"><b>Rating:-</b></span>{{MensC.rating.rate}}

                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>



