<p class="display-1 text-primary text-center mt-5">Parameter Decorators(Service)</p>
<br><br><br><br>

<div class="container text-danger text-center">
    <p class="display-4 text-warning"><b><u>Data Comes from Services Component</u></b> </p> <br>

    <p class="display-6">Id:{{data.id}}</p>
    <p class="display-6">Name:{{data.name}}</p>
    <p class="display-6">Age:{{data.age}}</p>
    <p class="display-6">Address:{{data.address}}</p>
    <p class="display-6">Course:{{data.course}}</p>

</div>





