<!-- <app-interpolation></app-interpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-twowaydatabinding></app-twowaydatabinding> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-bootstrap></app-bootstrap> -->
<!-- <app-child [item]="CurrentItem"></app-child> -->
<!-- <app-parent-to-do-list (newitem)="addItem($event)"></app-parent-to-do-list>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 class="text-warning text-center">Data Comes From Child(parent-to-do-list.html) to Parent(app.component.html)</h1>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <ul class="container text-primary">
                    <li *ngFor="let item of items"><h2>{{item}}</h2></li>
                </ul>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div> -->
<!-- <app-host-listener></app-host-listener> -->
<!-- <app-parameterdecorator></app-parameterdecorator> -->
<!-- <app-chat-app></app-chat-app> -->
<!-- <app-http></app-http> -->
<!-- <app-promise></app-promise> -->
<!-- <app-ng-switchfiltering></app-ng-switchfiltering> -->
<!-- <app-observable></app-observable> -->
<!-- <app-lazy-nav-bar></app-lazy-nav-bar> -->
<!-- <app-counter-inc-dec></app-counter-inc-dec> -->
<!-- <app-http></app-http> -->
<!-- <app-jsonfetch></app-jsonfetch> -->
<!-- <app-spa-home></app-spa-home> -->
<!-- <app-angular-forms></app-angular-forms> -->
<!-- <app-ani-to-do></app-ani-to-do> -->
<!-- <app-animation></app-animation> -->




<!-- Amazon -->

<!-- <app-navbar></app-navbar> -->
<!-- <app-categories></app-categories> -->
<!-- <app-clothing></app-clothing> -->
<!-- <app-electronics></app-electronics> -->
<!-- <app-jewelery></app-jewelery> -->
<!-- <app-amazonprime></app-amazonprime> -->
<!-- <app-faq></app-faq> -->
<!-- <app-chatwithus></app-chatwithus> -->
<!-- <app-amazon-home></app-amazon-home> -->

<app-amazon></app-amazon>



















<router-outlet></router-outlet>
