.container{
    margin-top: 110px;
}
.container1{
    border: 1px solid rgb(183, 177, 177);
    height: 110px;
    width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#btn{
    border: 1px solid rgb(183, 177, 177);
}