<h1 style="color: blueviolet;text-align: center;">Structural Directives</h1>
<h1 style="color: blueviolet;text-align: center;">(ngIf Directives)</h1>
<br><br><br><br>



<h3 style="text-align: center; color: coral;" *ngIf="show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis impedit
    facere dolores quisquam.Quibusdam sequi corporis, porro odio autem officiis.</h3>
    


<button style="background-color: red; border: 5px solid blue;   margin-left: 700px;" *ngIf="showone"
    (click)="showData()"><span style="color: white;">Disable Text</span></button>

<button style="background-color: green; border: 5px solid blue; margin-left: 700px;;" *ngIf="disableone "
    (click)="showText()"><span style="color: white;">Show Text</span></button>