.footer{
    border-top: 1px solid black;
}
#foot{
    border-top: 1px solid gray;
    background-color: rgb(45, 44, 44);
    
}
#ahref a{
 text-decoration: none;
}
#ahref a:hover{
    color: white;
    text-decoration:underline;
    
}